apiVersion: v1
kind: Service
metadata:
  name: {{ include "windeath44-admin.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "windeath44-admin.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "windeath44-admin.selectorLabels" . | nindent 4 }}